<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_rest"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name="gr.aueb.softeng.view.SignUpOwner.SignUpOwnerActivity"
            android:exported="true"
            android:label="Sign Up Owner"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name="gr.aueb.softeng.view.SignUpPersonel.SignUpPersonelActivity"
            android:exported="true"
            android:label="Sign Up Personel"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="gr.aueb.softeng.view.SignUp.SignUpActivity"
            android:exported="true"
            android:label="@string/sign_up"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="gr.aueb.softeng.view.Customer.CustomerHomePageActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="gr.aueb.softeng.view.Login.LoginActivity"
            android:exported="true"
            android:label="@string/log_in"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>