<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_rest"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name="gr.aueb.softeng.view.Customer.ChooseRestaurant.ChooseRestaurantActivity"
            android:exported="false"
            android:label="Choose a Restaurant"/>
        <activity
            android:name="gr.aueb.softeng.view.Chef.ChefOrderDetails.ChefOrderDetailsActivity"
            android:exported="false"
            android:label="Order Details"/>
        <activity
            android:name="gr.aueb.softeng.view.Owner.RestaurantDetails.RestaurantDetailsActivity"
            android:exported="true"
            android:label="Restaurant Details" />
        <activity
            android:name="gr.aueb.softeng.view.Owner.Statistics.StatisticsActivity"
            android:exported="true"
            android:label="Restaurant Statistics" />
        <activity
            android:name="gr.aueb.softeng.view.Owner.AddRestaurant.AddRestaurantActivity"
            android:exported="true"
            android:label="Add new restaurant" />
        <activity
            android:name="gr.aueb.softeng.view.Customer.PlaceOrder.PlaceOrderActivity"
            android:exported="false"
            android:label="@string/place_order" />
        <activity
            android:name="gr.aueb.softeng.view.Customer.TopUp.TopUpActivity"
            android:exported="true"
            android:label="@string/TopUp" />
        <activity
            android:name="gr.aueb.softeng.view.Chef.HomePage.ChefHomePageActivity"
            android:exported="false"
            android:label="@string/Homepage" />
        <activity
            android:name="gr.aueb.softeng.view.Owner.HomePage.OwnerHomePageActivity"
            android:exported="false"
            android:label="@string/Homepage" />
        <activity
            android:name="gr.aueb.softeng.view.SignUp.SignUpOwner.SignUpOwnerActivity"
            android:exported="true"
            android:label="Sign Up Owner"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="gr.aueb.softeng.view.SignUp.SignUpPersonel.SignUpPersonelActivity"
            android:exported="true"
            android:label="Sign Up Personel"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="gr.aueb.softeng.view.SignUp.SignUpCustomer.SignUpCustomerActivity"
            android:exported="true"
            android:label="@string/sign_up"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="gr.aueb.softeng.view.Customer.HomePage.CustomerHomePageActivity"
            android:exported="true"
            android:label="@string/Homepage"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="gr.aueb.softeng.view.Login.LoginActivity"
            android:exported="true"
            android:label="@string/log_in"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>